@using lab24b_coffeeshop_cart.Models;
@{
                /**/

                /**/

                /**/

                /**/

                ViewBag.Title = "Add";
}

<h2>Item Added</h2>

Cart:
<ul>
    @foreach (Item i in (List<Item>)(Session["Cart"]))
    {
        <li>@i.Name - $@i.Price</li>
    }
</ul>