
@{
    ViewBag.Title = "Confirmation";
}
<div class="jumbotron">
    <h2>Registration Complete!</h2>

    Thank you for registering! You will receive an email shortly!<br />
</div>
<style>


    .p1 {
        font-size: 26px;
    }
</style>