
@{
    ViewBag.Title = "Logout";
}

<h2>Logout</h2>
You have been logged out!
<br />
@*<p>In this session, you have visited this page @Request["Counter"] times.</p>
    <p>You have visited this @Request.Cookies["Counter"].Value times.</p>*@
